@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
.diff {
    font-family: 'Fugaz One'
}

html, body {
    min-width: 320px;
}

li, ol, ul {
    list-style: none;
}

strong {
    font-weight: 900;
}

/* Header - nav var */
header {
    background-color: #2d7257;
    /*background-color: white;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    box-shadow: 0 0 15px 0 black;
}

header * {
    display: inline;
}

#Header .nav-bar {
    margin: 0 100px;
    max-width: 1300px;
    /*text-align: center;*/
}

#Header .nav-bar .nav-bar-div{
    display: flex;
}

#Header .nav-bar .nav-bar-div .nav-left{
    width: 400px;
    display: flex;
}

#Header .nav-bar .nav-bar-div .nav-right{
    margin-left: 200px;
    width: 600px;
    margin-top: 35px;
}

#Header li a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
}

#Header .nav-left .header_logo {
    flex: 0.2;
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

#Header .nav-left .header_logo_txt {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 25px;
    margin-left: 15px;
}

#Header .nav-left .header_logo_txt .sub_txt {
    font-size: 10px;
    letter-spacing: 2px;
}

#Header .nav-left .header_logo_txt .main_txt {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 900;
}

/* common part */
.light {
    font-weight: 300;
}

.page {
    margin-top: 70px;
    padding: 10px 0;
    /*height: 100%+70px;*/
    align-content: center;
}

.page .subtit {
    font-size: 24px;
    font-weight: 900;
}

/* main 0*/
#main0 {
    height: 540px;
}

#catchphrase {
    background:
        linear-gradient(to bottom, rgba(0, 15, 16, 0.6), rgba(26, 82, 73, 0.6)),
        url("../static/image/main.jpg");
    background-size: 100%;
    height: 100%;
    text-align: center;
}

#catchphrase > .main_tit {
    /*background-color: linear-gradient(to bottom, rgba(0, 15, 16, 0.6), rgba(26, 82, 73, 0.6));*/
    color: white;
    font-size: 30px;
    font-weight: 300;
    margin : auto 0;
    padding: 20% 0;
    /*letter-spacing: px ;*/
    line-height: 36px;
}

#catchphrase > .main_tit > .bold {
    font-size: 54.5px;
}

#catchphrase > .sub_tit {
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate( -50%, -50% );
}

/* main 1*/
#main1 .tit {
    padding-left: 10px;
    border-left: black solid 6px;
    font-size: 40px;
    font-weight: 800;
}

#main1 .sub_tit {
    padding-left: 20px;
    font-size: 28px;
    font-weight: 500;
}

#main1 .mission {
    letter-spacing: 1px;
}

#main1 {
    display: flex;
    margin: 200px 0;
}

#main1 .left_sec {
    flex: 0.7;
    padding: 5%;
    float: left;
}

#main1 .right_sec {
    flex: 1;
    float: right;
    text-align: center;
}

#main1 .right_sec .img {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(to bottom, #5f72bd, rgba(71, 64, 191, 0)), url("../static/image/mission.jpg");
    /*background-size: 100%;*/
    background-size: contain;
}

/* main 2*/
#main2 {
    margin: 100px 0;
}

#main2 .tit {
    margin-left: 5%;
    padding-left: 10px;
    border-left: black solid 6px;
    font-size: 40px;
    font-weight: 800;
}

#main2 .sub_tit {
    margin-top: 10px;
    margin-left: 5%;
    padding-left: 20px;
    font-size: 27px;
}

#main2 .act_container{
    max-width: 1300px;
    margin-top: 40px;
    display: flex;
}

#main2 .act_item {
    flex: 1;
    height: 300px;
    text-align: center;

}

#main2 .act_item .item_tit{
    padding: 40% 0%;
    font-size: 22px;
    line-height: 25px;
    font-weight: 900;
    color: white;
}

#main2 .item1{
    background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("../static/image/main_sq1.png");
}

#main2 .item2{
    background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("../static/image/main_sq2.png");
}

#main2 .item3{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("../static/image/main_sq3.png");
}

#main2 .item4{
    background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),
        url("../static/image/main_sq4.png");
}

#main2 .act_item .multi {
    font-size: 24px;
    font-weight: 300;
    position: relative;
    bottom: 15px;
    line-height: 27px;
}

#main2 .act_item .multi b {
    font-weight: 900;
}

/*main3*/
#main3 {
    text-align: center;
    height: 540px;
    background: linear-gradient(to bottom, rgba(0, 15, 16, 0.7), rgba(24, 74, 66, 0.7)),
        url("../static/image/main_colla.png");
    background-size: contain;
}

#main3 div {
    color: white;
    font-size: 18px;
}

#main3 .main_txt{
    padding-top: 80px;
    margin: 50px 0;
    font-size: 30px;
    font-weight: 800;
}

#main3 .sub_txt {
    padding: 20px 0;
    line-height: 30px;
}

/* Portfolio*/
#Portfolio {
    padding-left: 0;
    padding-bottom: 0;
}

#Portfolio .top {
    background: linear-gradient(to bottom, rgba(0, 15, 16, 0.77), rgba(26, 82, 73, 0.6)),
                url("../static/image/port1.png");
    padding-bottom: 60px;
    background-size: 100%;
    background-position: center;
}

#Portfolio .top .year_info {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px 0 40px 700px;

}

#Portfolio .top .year_info .info {
    display: flex;
}

#Portfolio .top .year_info .info .year {
    margin-right: 30px;
}

#Portfolio .top .year_info .info .year_text .detail {
    margin-bottom: 20px;
    border-left: 1px solid white;
    padding-left: 10px;
    font-weight: 300;
}

#Portfolio .top .main_tit {
    color: white;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 0.4px;
    line-height: 45px;
    padding-left: 70px;
    padding-top: 40px;
}

#Portfolio .top .tit_line {
    margin-top: 20px;
    width: 200px;
    border-bottom: 5px solid grey;
    margin-bottom: 10px;
}

#Portfolio .port {
    background: linear-gradient(to bottom, rgba(0, 15, 16, 0.77), rgba(26, 82, 73, 0.6));
}

#Portfolio .port img {
    width: 100%;
    /*opacity: 0.8;*/
}

#Portfolio .port img .opacity {
    background: linear-gradient(to bottom, rgba(0, 15, 16, 0.77), rgba(26, 82, 73, 0.6));
}

/* Recruiting*/
#Recruiting {
    padding-left: 0;
}

#Recruiting .main_tit {
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 0.4px;
    line-height: 45px;
    padding-left: 70px;
    padding-top: 40px;
}

#Recruiting .tit_line {
    margin-top: 20px;
    width: 200px;
    border-bottom: 5px solid #4E4D4D;
    margin-bottom: 10px;
}

#Recruiting .recruiting_info {
    margin: 40px 67.2px;
    height: 282px;
    text-align: center;

    background-color: rgba(226, 226, 226, 0.23);
}

#Recruiting .recruiting_info .recruiting_txt{
    padding-top: 90px;
}

#Recruiting .recruiting_info p {
    font-size: 20px;
    letter-spacing: 1px;
}

/* Alumni*/

#Alumni .top .main_tit {
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 0.4px;
    line-height: 45px;
    padding-left: 70px;
    padding-top: 40px;
}

#Alumni .top .tit_line {
    margin-top: 20px;
    width: 200px;
    border-bottom: 5px solid grey;
    margin-bottom: 10px;
}

#Alumni .list{
    display: flex;
}

#Alumni .order {
    flex: 1;
    margin-left: 150px;
}

#Alumni .order .num {
    margin-bottom: 20px;
}

#Alumni .display_list {
    flex: 2;
}


/*footer*/

#Footer {
    color: white;
    height: 240px;
    background-color: #2d7257;
    display: flex;
}

#Footer .tit {
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 38px;
}

#Footer .sub {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
}

#Footer .light {
    font-weight: 300;
}

#Footer .left_sec {
    padding: 50px 0px 50px 100px;
    flex: 1;
}

#Footer .left_sec .sub_logo img {
    margin: 5px 6px 0px 5px;
    width: 13px;
}

#Footer .right_sec {
    padding: 50px 0px;
    flex: 1;
}

#Footer .social_logo {
    margin-top: 40px;
    width: 60%;
    display: flex;
}

#Footer .social_logo .logo{
    flex: 1;
}

/* Footer */
.social_logo > a > img {
    width: 30px;
}

/* responsive */
@media screen {

}
